/310/HW01/build/
/310/HW02/nbproject/private/
/310/HW02/build/
*.zip
/450/
/310/HW03/nbproject/private/
/300/
/310/HW03/build/
/310/AVG/nbproject/private/
/310/AVG/build/
/310/AVG/dist/
/310/HW05/nbproject/private/
/310/HW04/nbproject/private/
/310/HW04/build/
/310/HW05/build/
/310/HW05/dist/
/310/AVG/
/310/HW06/build/
/310/HW07/nbproject/private/
/310/HW07/build/
/310/HW10/nbproject/private/
/310/HW10/build/