#img1 {
    height: 250px;
    width: 250px;
};

#meme3 {
    height: 100px;
    width: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    position: relative;
};

